*
{
    padding: 0;
    margin: 0 auto;
    background-color: black;
}
body
{
    margin: auto;
}
.mainDiv {
    background-color: cyan;
    width: 640px;
    height: 480px;
}
.mainDiv > div
{
    margin: 0 auto;
}
.circleRed
{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    animation-name: topDown;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.circleYellow
{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: 3s;
    
}
.circleGreen
{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    animation-name: fade;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.circleYellow:hover
{
    transform: rotateY(180deg);
}
@keyframes topDown
{
    0%
    {
        top: -100px;
    }
    100%
    {
        top: 0px;
    }
}
@keyframes fade /* Fade in circle */
{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}